files/*
hooks/*
gulp/node_modules/*

www/.htaccess
www/robots.txt
www/sitemap.xml

www/google6e310c94dd768c93.html
www/yandex_61a16a4a7e5b5ab3.txt

www/img/market-1.png
www/img/market-2.jpg
www/img/market-3.png
www/img/market-4.jpg

www/php/*
www/music/*
www/voice/*
www/game/*
www/libs/soundmanager2/*