<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.alexbom.leelaveda">

<application>

    <activity
            android:name="com.alexbom.leelaveda_ru_full.Activity"
            android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
        </intent-filter>
    </activity>

</application>

</manifest>