<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.LeelaVeda_full"
        versionCode = "15"
        version     = "2.1.0" >

    <name>Leela Game</name>

    <description>
        enlightenment online
    </description>

    <author href="http://www.tihoemesto.ru" email="om@leelaveda.ru">
        Alexander Bom
    </author>

    <icon src="img/icon.png" />

    <access origin="*" />

    <plugin name="cordova-plugin-inappbrowser" spec="1.4.0" />

    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.InAppBrowser" />
    </feature>

    <feature name="http://api.phonegap.com/1.0/notification" />

</widget>