<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.alexbom.leelaveda"
        versionCode = "11"
        version     = "2.0.5" >

    <preference name="phonegap-version" value="cli-6.3.0" />

    <name>Leela Veda</name>

    <description>
        enlightenment online
    </description>

    <author href="http://www.tihoemesto.ru" email="gush@bk.ru">
        Alexander Bom
    </author>

    <access origin="*" />

    <icon src="img/icon.png" />

    <feature name="http://api.phonegap.com/1.0/notification" />

    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>

    <plugin name="org.apache.cordova.inappbrowser" spec="0.6.0" source="pgb" />

</widget>